*{
	margin:0;
	padding:0;
}


.Form{
	padding: 7px;
	margin: 7px;
}
.label{
	padding:10px;
	width:50px;
	float:left;

}
.entry{
	width:20px;
	float:left;

}

.clearBoth { clear:both; }


h1{
	text-transform: uppercase;
	font-size:2rem;
}

body{
	background-color: skyblue;
	border: solid yellow 6px;
	margin: 10px;
}

header{
	margin-bottom: 30px;
	position: fixed;
	
	top:5px;
	left:5px;
}

#i{
	float:left;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	margin: 0;
}

#clear{
	clear:left;
}

section{
	padding: 5px 30px;
	font-family: Arial, Helvetica, Times New Roman;

}

article{
	font-size: 15px;
	text-align: justify;
}

.title{
	font-size: 23px;
	font-weight: 700;
}

.date{
	font-size: 15px;
	font-style: italic;
}

nav > ul > li{
	display: inline-block;
	padding: 10px 3px;
	font-size: 20px;
}


nav > ul > li:link
{
	background-color:yellow;
}

nav > ul > li:visited
{
	background-color:grey;
}


nav > ul > li:hover
{
	background-color:green;
}
nav > ul > li:active
{
	background-color:red;
}




nav > ul > li > a{
	text-decoration: none;
}

#g{
	float:left;
	width: 30%;
	height: 650px;
	padding:0px;
	margin-right:1.3%;
	margin-left:1.3%;
}
